p,pre{
    font-size: 18px;
    margin-left: 40px;
}
.phandau{
    margin-left: 400px;
}
.phancuoi{
    margin-left: 400px;
}
body{
    background-color: lemonchiffon;
}
.phangiua{
    margin-left: 200px;
    border-bottom: 2px solid rgb(51, 240, 167);
    width: 640px;
}